.docs-container {
	display: flex;
	justify-content: center;
	align-items: flex-end;

	width: 70%;
	height: 80%;

	background-color: var(--grey);
	border-radius: var(--radius);

	.fields-container {
		width: calc(100% - 40px);
		height: calc(100% - 60px);

		margin-bottom: 20px;

		gap: 30px;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 56px auto auto 42px;

		.section {
			border-radius: var(--radius);
			display: flex;
			justify-content: center;
			align-self: center;

			.text-area,
			.input {
				resize: none;
				width: calc(100% - 2.5rem);
				height: calc(100% - 2rem);

				font-size: 1rem;

				background-color: transparent;
				border: none;
				outline: none;

				color: #c7c7c7;
			}
		}

		.button {
			justify-self: left;
			align-self: flex-end;

			width: 70%;

			&:nth-last-child(1) {
				justify-self: right;
			}
		}
	}
}
