.invalid-instruction {
	display: grid;
	grid-template-rows: 70px auto 82px;
	grid-template-columns: repeat(2, 1fr);

	background-color: var(--grey);
	border-radius: var(--radius);
	width: 600px;
	height: 300px;

	.title {
		display: flex;
		align-items: center;

		justify-self: left;
		align-self: flex-end;

		width: 100%;
		height: 100%;
		text-indent: 40px;

		font-size: 1.6rem;

		font-weight: 100;
		grid-column: 1/3;

		border-bottom: 1px solid var(--light-grey-2);
	}

	.data-container {
		display: grid;
		grid-template-rows: 40px auto 40px;
		grid-column: 1/3;

		.text {
			justify-self: center;
			align-self: center;

			color: #a9a9a9;
		}

		.instruction-example {
			height: 50px;
			width: 85%;

			justify-self: center;
			align-self: center;

			display: flex;
			justify-content: space-evenly;
			align-items: center;

			border-radius: var(--radius);
			border: 1px solid var(--light-grey-2);

			.cell {
				width: 28px;
				height: 28px;

				border-radius: 2px;
				border: 1px solid var(--light-grey-2);

				transition-duration: 150ms;

				cursor: pointer;

				&.from-cell {
					pointer-events: none;
				}
				&.to-cell {
					pointer-events: none;

					background: repeating-linear-gradient(
						45deg,
						var(--light-grey-2),
						var(--light-grey-2) 5px,
						var(--grey) 5px,
						var(--grey) 10px
					);
				}
			}

			.input {
				height: 28px;

				text-indent: 12px;
				font-size: 0.9rem;

				border: 1px solid transparent;
				outline: none;

				border-radius: 4px;
				transition-duration: 150ms;

				width: 30%;

				&.to-state {
					background: repeating-linear-gradient(
						45deg,
						var(--light-grey-2),
						var(--light-grey-2) 5px,
						var(--grey) 5px,
						var(--grey) 10px
					);

					border-color: var(--light-grey-2);
				}
			}

			.arrow-icon {
				display: flex;
				justify-content: center;
				align-items: center;

				font-size: 3rem;
				height: 50%;

				color: var(--main-color);
			}
		}
	}

	.button {
		width: 70%;

		align-self: flex-end;

		margin: 10px;

		&.create-button {
			justify-self: right;
		}
	}
}
