.button-container {
	--back: var(--light-grey-1);
	--hover: var(--light-grey-2);
	--color: var(--default-color);

	&.main {
		--back: var(--main-color);
		--color: var(--dark-grey-1);
		--hover: var(--pointer-color);
	}

	border: none;
	outline: none;

	cursor: pointer;

	color: var(--color);
	background-color: var(--back);
	border-radius: 4px;

	font-size: 0.9rem;
	font-weight: 600;

	transition-duration: 200ms;
	text-transform: capitalize;

	width: 100%;
	height: 42px;

	&:hover {
		background-color: var(--hover);
	}
}
