#ribbon-section {
	--cell-height: 21px;
	--cell-total-width: 29px;
	--pointer-offset: 19px;

	display: grid;
	grid-template-rows: 85px auto;
	grid-column: 1/4;

	justify-self: center;
	align-self: center;

	width: calc(100% - 40px);
	height: calc(100% - 40px);

	border-radius: var(--radius);
	border: 1px solid var(--light-grey-2);

	#cells-container {
		display: flex;
		justify-content: center;
		align-items: flex-end;

		position: relative;

		gap: 6px;

		#pointer {
			position: absolute;
			left: calc(var(--pointer-offset) + var(--index) * var(--cell-total-width));

			bottom: calc(var(--cell-height) + 25px);
			min-width: var(--cell-height);
			height: var(--cell-height);

			border: 1px solid var(--pointer-color);
			border-radius: 2px;

			transition: 250ms ease-in-out;

			&::after {
				content: '';

				position: absolute;

				width: 1px;
				height: 0px;

				top: 100%;
				left: -1px;

				border-top: 15px solid var(--pointer-color);
				border-left: 11px solid transparent;
				border-right: 11px solid transparent;
			}
		}

		.cell {
			width: var(--cell-height);
			height: var(--cell-height);

			border-radius: 2px;

			display: inline-block;
			cursor: pointer;

			transition-duration: 150ms;

			border: 1px solid var(--light-grey-2);
		}
	}

	.ribbon-controls {
		display: grid;
		grid-template-columns: auto 300px;
	}

	.pointer-state {
		align-self: flex-end;

		margin: 0px 0px 10px 10px;

		border-radius: var(--radius);

		width: 140px;
		height: 46px;

		display: flex;
		justify-content: left;

		.state {
			margin-left: 12px;
			margin-top: 4px;

			color: var(--default-color);
		}
	}

	.clear-ribbon {
		justify-self: right;
		align-self: flex-end;

		margin-right: 10px;
		margin-bottom: 10px;

		width: 160px;

		--back: var(--danger-light);
		--color: var(--dark-grey-1);

		&:hover {
			background-color: var(--danger-dark);
			color: var(--dark-grey-1);
		}
	}
}
