#ribbon-section {
	--cell-height: 21px;
	--cell-total-width: 29px;
	--pointer-offset: 19px;

	display: grid;
	grid-template-rows: 85px auto;
	grid-column: 1/4;

	justify-self: center;
	align-self: center;

	width: calc(100% - 40px);
	height: calc(100% - 40px);

	border-radius: var(--radius);
	border: 1px solid var(--light-grey-2);

	#cells-container {
		display: flex;
		justify-content: center;
		align-items: flex-end;

		position: relative;

		gap: 6px;

		#pointer {
			position: absolute;
			left: calc(var(--pointer-offset) + var(--index) * var(--cell-total-width));

			bottom: calc(var(--cell-height) + 25px);
			width: var(--cell-height);
			height: var(--cell-height);

			border: 1px solid var(--pointer-color);
			border-radius: 2px;

			transition: 250ms ease-in-out;

			&::after {
				content: '';

				position: absolute;

				width: 1px;
				height: 0px;

				top: 100%;
				left: -1px;

				border-top: 15px solid var(--pointer-color);
				border-left: 11px solid transparent;
				border-right: 11px solid transparent;
			}
		}

		.cell {
			width: var(--cell-height);
			height: var(--cell-height);

			border-radius: 2px;

			display: inline-block;
			cursor: pointer;

			transition-duration: 150ms;

			border: 1px solid var(--light-grey-2);
		}
	}
}
