:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--default-color: rgba(255, 255, 255, 0.87);
	--danger-dark: #ff686b;
	--danger-light: #f08080;

	--grey: #242423;

	--light-grey-1: #333533;
	--light-grey-2: #454545;
	--light-grey-3: #606060;

	--dark-grey-1: #232323;

	--active: #264653;
	--pointer-color: #aaf683;

	--main-color: #89f589;

	--radius: 6px;

	background-color: var(--grey);
}

* {
	padding: 0px;
	margin: 0px;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	::-webkit-scrollbar {
		width: 6px;
	}
	::-webkit-scrollbar-track {
		margin: 4px 0px;

		background: var(--grey);
		border-radius: var(--radius);
	}
	::-webkit-scrollbar-thumb {
		background: var(--light-grey-1);
		border-radius: var(--radius);
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: var(--light-grey-2);
	}
}

input,
textarea {
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

#root {
	width: 100vw;
	height: 100vh;
}
